#button-container {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures the buttons are spaced out within the container */
  align-items: stretch; /* Makes the buttons fill the container's width */
  text-align: center;
}

#auth-button,
#subscription-button {
  font-size: medium;
  height: 50px; /* Each button will take up nearly half the container's height */
  width: 100%; /* Makes the buttons fill the container's width */
  box-sizing: border-box; /* Ensures padding/border are included in the width/height */
}

#subscription-message {
  font-size: large;
  height: 65px; /* Each button will take up nearly half the container's height */
  width: 100%; /* Makes the buttons fill the container's width */
  box-sizing: border-box; /* Ensures padding/border are included in the width/height */
}

#subscription-container {
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: stretch; /* Makes the buttons fill the container's width */
  /* gap: 10px; */
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
}
.content {
  margin-top: 10px;
}
p {
  font-size: large;
}

.loading-dots span {
  display: inline-block;
  font-size: 24px;
  animation: blink 1.4s infinite both;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}
.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
}
