#zifty-overlay {
  position: fixed;
  bottom: 1%;
  left: 0;
  right: 0;
  width: 65%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-shadow: 0 0 30px rgba(10, 10, 10, 0.9);
  animation: popUp 0.5s forwards;
}

.left-button-container,
.right-button-container {
  width: 2%;
  height: 100%;
  /* border: 1px solid blue; */
  min-width: 25px;
}

.right-button-container {
  /* border: 1px solid pink; */
}

.listings-container {
  width: 96%;
  height: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.listings-slider {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.5%;
  align-items: center;
  transition: transform 0.5s ease;
  /* border: 1px solid red; */
}

.close-button,
.arrow {
  line-height: 1.5;
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 25px;
  height: 25%;
  /* border: 1px solid red; */
}

.close-button {
  top: 0;
  right: 0.2%;
  font-weight: bold;
}

#next-arrow {
  top: 45%;
  right: 0.2%;
}
#previous-arrow {
  top: 45%;
  left: 0.2%;
}

.listing {
  height: 95%;
  width: 16.19%;
  border: 1px solid white;
  /* margin: 0.5%; */
  flex-shrink: 0;
  border-radius: 5px;
}

.listing a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  position: relative;
}

.img-container img {
  max-height: 100%;
  width: 100%;
  border-radius: 5px;
  /* border: 1px solid yellow; */
}

.listing-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%;
  min-height: 58px;
  background-color: rgba(0, 0, 0, 0.5);
  /* border: 1px solid green; */
}

.listing-title,
.listing-price,
.listing-location {
  width: 100%;
  height: 33%;
  min-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid pink; */
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

.listing-price {
  font-weight: bold;
}

.arrow:hover,
.close-button:hover {
  color: #ccc;
}

@keyframes popUp {
  from {
    bottom: -100%;
  }
  to {
    bottom: 1%;
  }
}

@keyframes hide {
  from {
    bottom: 1%;
  }
  to {
    bottom: -100%;
    visibility: hidden;
  }
}
