#zifty-overlay {
  position: fixed;
  bottom: 1vh; /* Scaled with viewport height */
  left: 0;
  right: 0;
  width: 75vw; /* Relative to viewport width */
  height: 20vh; /* Relative to viewport height */
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.left-button-container,
.right-button-container {
  width: 2vw; /* Scaled with viewport width */
  height: 100%; /* Full height of the parent */
  border: 1px solid blue; /* Use brown for right-button-container */
}

.listings-container {
  width: 71vw;
  height: 100%; /* Full height of the parent */
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button,
.arrow {
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 1.5vw; /* Dynamic text size based on viewport width */
  border: 1px solid red;
}

.close-button {
  top: 0;
  right: 0.2vw; /* Relative to viewport width */
  font-weight: bold;
}

#next-arrow,
#previous-arrow {
  top: 50%; /* Center vertically */
  right: 0.2vw; /* For #next-arrow, left for #previous-arrow */
}

.listing {
  height: 98%; /* Full use of parent's height */
  width: 27vw; /* Width relative to viewport */
  border: 1px solid white;
  margin: 0.2vw; /* Margin scaled with viewport */
}

.listing a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  height: 100%; /* Proportion of parent */
  width: 100%; /* Proportion of parent */
  position: relative;
}

.img-container img {
  max-height: 100%;
}

.listing-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%; /* Proportional division of parent */
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid green;
}

.listing-title,
.listing-price,
.listing-location {
  width: 100%;
  height: 33%; /* Equal parts */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid pink;
  font-size: 0.7vw;
  color: white;
}

.arrow:hover,
.close-button:hover {
  color: #ccc;
}
