@font-face {
  font-family: "NotoColorEmoji";
  src: url("../assets/NotoColorEmoji-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 450px;
  padding-left: 1px;
  padding-right: 1px;
  font-family: "Roboto";
}

.content {
  margin-top: 2px;
}

#toggle-box {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  box-shadow: gray 1px 1px 1px;
  height: 120px;
  padding: 20px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

#indent {
  font-size: 20px;
  padding-left: 20px;
}

.column {
  width: 48%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.left-switch {
  position: absolute;
  left: 160px;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.right-switch {
  position: absolute;
  left: 400px;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.emoji {
  font-family: "NotoColorEmoji";
}

#support-container {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  box-shadow: gray 1px 1px 1px;
  height: 20px;
  padding: 20px;
}

#support-text #contact-text {
  font-size: 20px;
}

.needs-radius {
  border-radius: 3px;
}

a {
  color: black;
}

/* a:hover,
a:visited:hover {
  color: lightgray;
} */

a:visited {
  color: black;
}
